:root{
    /*root 가상클래스(pseudo-class)
    커스텀 속성 전역 사용
    항상 html을 가리킴, html 보다 스타일 적용 우선순위 높음
    요소의 속성 값, 상태, 상대적 위치를 이용해 요소 선택 가능
    <변수선언>    --속성이름: 속성값
    ex)  --white-color: #fff ;
    <변수사용>    var(속성이름)
    ex)  background-color: var(--white-color) ;
    */
    
    /* color 정의*/
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* size*/
    --padding: 12px;    
    --avater-size: 36px;
    
    /* font size */
    --font-large: 16px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}/*사이즈가 같거나 같은 색을 쓸 것들 변수로 잘 정리*/
/* 한결같고 일정하게 */

*{  /*전체 선택자 모든요소 선택*/
    padding: 0; /*내부여백*/
    margin: 0; /*외부여백*/
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

ul {
    /*리스트 쓰면 생기는 점 제거*/
    list-style: none;
}

button, 
button:focus{
    border: none;
    /* ㄴ경계선 삭제*/

    cursor: pointer;
    /*cursor 속성 (마우스 커서모양 변경)
    auto : 자동
    default : 기본(화살표)
    pointer : 손가락 (클릭가능버튼)
    wait : 로딩
    mmove , text, help 등
    동서남북 크기조절
    (e-resize, w-resize), (n-resize, s-resize)
    (ne-resize,sw-resize), (nw-resize, se-resize)
    */
    outline: none;
    
}

/* Header */
header{
    /*display 속성 (요소 레이아웃)
    none : 보이지 않음
    flex : 가로 또는 세로로 1차원 배치
    grid : 2차원 배치, 행과 열의 비율 크기 지정
    block : 블록 박스
    inline : 인라인 박스 (default)
    inline-block : 요소자체는 인라인처럼 동작, 요소내부는 블록으로 동작
    */
    display: flex;
    /*justify-content: 콘텐츠 항목 사이와 주위 공간분배
    start : 시작점 정렬
    center : 가운데 정렬
    space-between : 아이템 사이에 균일한 간격
    space-around : 아이템 둘레에 균일한 간격
    space-evenly : 아이템들의 사이와 양끝 일정한 간격
    */
    justify-content: space-between;

    padding: var(--padding);
    /* var() 
    커스텀 속성 사용시 var()함수안에 속성이름 적어 사용
    맨 위 root{}에 정의 되어 있음
    */
    background-color: var(--black-color);
    color: var(--white-color);
}

/*헤더안에 로고 클래스 선택자*/
header .logo{
     font-size: var(--font-large);
}
header .logo i {
    color: var(--red-color)
}
header .icons .fa-search {
    margin-right: var(--padding);
}

/*   --header 완성--   */

/*   Video Player   */
.player {
    /* 영상 중앙위치 */
    text-align: center;

    /*스크롤해도 영상 위에 계속 볼 수 있게 고정*/
    position: sticky;
    top: 0;

    background-color: var(--black-color);

}
.player video{
    /*영상이 웹 사이즈에 맞춰 커지거나 작아짐*/
    width: 100%;
    height: 333px 100%;
    max-width: 1000px; /*최대크기제한*/
}
/*   --video player--   */

.info {
    /*영상 아래 정보란*/
    padding: var(--padding);
}

.info .metadata .hashtags {
    /*해시태그 글자*/
    display: flex;
    /* ㄴ3줄->1줄로 옆으로 차례대로 적힘*/
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li {
    /* 해시태그 사이 여백 */
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);

    /*말줄임 webkit-line-clamp (필수4줄)
    지정 줄 수 만큼 제한*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*반드시 vertical로 해야 동작*/
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*넘친 텍스트 감춤*/

    margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
    /*제목 더보기 버튼 위치*/
    height: 100%;
    background-color: var(--white-color);
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

/*  Action Buttons  */
.actions {
    display: flex;
    /* ㄴ옆으로 정렬 */
    justify-content: space-around;
    margin: var(--padding);
}

.actions button {
    display: flex;
    flex-direction: column;
    /*flex-direction 아이템 생성 방향
    row : (왼-오) 옆으로 생성(default)
    row-reverse : (오-왼) 옆으로 생성
    column : (위-아래) 
    column-reverse : (아래-위)
    */
    font-size: var(--font-small);
    color: var(--grey-dark-color);

    background-color: var(--white-color);
    span{
        background-color: var(--white-color);
    }
}

.actions button i {
    margin: 0 auto;
    margin-bottom: calc(--padding)/2;
    font-size: 16px;
    background-color: var(--white-color);
}

.actions button i.active{
    color: var(--blue-color);
}/*하 진짜 버튼 그냥 색 바꾸는 건데 왜 눌러도 안 바뀌지 왜 버튼이 안눌리지 이지랄하믄서 40분 보냈네 아 나 진짜 js 파일 2번 만들었다 지우고 아나 진짜*/
/*   -- Actions --   */

/*  Channel Description  */
.channel {
    display: flex;
    justify-content: space-between;
    /* 좋아요 등 버튼 위아래에 줄 생성*/
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
    display: flex;
    align-items: center;
}

.channel .metadata .info {
    display: flex;
    flex-direction: column;
}
.channel .metadata img {
    width: var(--avater-size);
    height: var(--avater-size);
    border-radius: 50%;
}

.channel .metadata .info .name {
    font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
    background-color: var(--white-color);
}